:root {
    --header-height: 150px;
    --margin: .7rem;
    --column-width: 200px;
}

* {
    margin: 0;
    padding: 0;
}

/* map height is going to be 100% of the viewport height minus the header */
#map {
    height: calc(100vh - var(--header-height));
    width: 100%;
    overflow: hidden;
    position: absolute;
}

nav {
    height: var(--header-height);
    background-image: url('/assets/headerImg_light@2x.png');
}

.navbar-brand {
    font-weight: 900;
}

.btn-primary {
    background-color: #355C7D;
    border: none;
    color: white;
}

.btn-primary:hover {
    background-color: #F67280;
    color: white;
    border: none;
}

.clear {
    background-color: #355c7d;
    border: none;
    border-radius: 4px;
    padding: 0.3em;
    color: white;
    transition: 0.2s;
}

.clear:hover {
    background-color: #f67280;
    color: white;
    border: none;
}


img.exBig {
    border-radius: 8px;
    display: block;
}

ul {
    padding: 1em;
}

.card-body {
    color: black;
    background-color: white;
    border: 3px solid black;
}

.this {
    display: flex;
    flex-wrap: wrap;
    margin: var(--margin);
}

/* climb cards need to be styled to be less bulky so that the window is not constantly refreshing */
.ClimbCards {
    /* float the cards over the map aligned to the left */
    position: absolute;
    display: flex;
    /* flex wrap with a width of 200px will keep all the cards in a column */
    flex-wrap: wrap;
    width: var(--column-width);
    margin: auto;
    max-height: calc(100vh - var(--header-height));
}

.card {
    min-width: var(--column-width);
    text-align: center;
}
a {
    color: orange;
    text-decoration: none;

}

a:visited {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: none;
}

p strong {
    font-weight: 900;
    margin-bottom: 10px;
}

p {
    margin: 0;
}