    <!-- Start of Modal with information about climb categories in Strava-->

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      User Input
    </button>

    <!--Start of Modal-->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Cardiac Arrest Search Options</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Activity type:
            <select id="activityType">
              <option value="running">Running</option>
              <option value="riding">Riding</option>
            </select> <br> Minimum climb rating:<input type="number" id="minClimb" value="2" min="2" max="4">
            <br> Maximum climb rating:<input type="number" id="maxClimb" value="1" min="1" max="3">


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="submit"
              onclick='hideFunction()'>Search and Close</button>
          </div>
        </div>
      </div>



      <!--End of Modal-->