<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link href="../img/favicon.ico" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="../../assets/scripts/index.js"></script>
  <title>Cardiac Arrest</title>

</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../img/LogoPlaceHolder.PNG" width="30" height="30" class="d-inline-block align-top" alt="">
      Cardiac Arrest
    </a>
    <input id="delete-markers" class="clear" type="button" value="Refresh Cards" onclick='hideFunction()' />
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Instructions
    </button>
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AnotherModal">
      About Strava
    </button>
   <div class="modal fade" id="AnotherModal" tabindex="-1" role="dialog" aria-labelledby="AnotherModalTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
                    <div class="modal-header">
                      <p1><a href="https://en.wikipedia.org/wiki/Strava" style="color: black;"> 
                      Strava </a>is the social network for the athletes. 
                      Record an activity and it goes to your Strava feed, 
                      where your friends and followers can share their own 
                      races and workouts, give kudos to great performances 
                      and leave comments on each other's activities.</p1><br>
                    </div>
                    <div class="modal-body">
                      <p1>
                        <b>
                          Climb Categorization
                        </b>
                      </p1>
                      <p1>
              The Strava climb categorization is similar 
              to how the UCI categorizes climbs but with some modifications.
              When a climb is categorized, for the Tour de France for example, 
              there is a subjective component to the categorization. 
              If a climb is at the end of the stage it could get a tougher category 
              than if it was earlier in the stage. 
              Strava's method is objective, so if a climb is a category 1 climb 
              it will always be a category 1.
                      </p1>
                      <br>

            <p2><b>Determining Climb Categories</b></p2>
            A segment can be categorized as a climb on Strava if it meets the following criteria:<br>

            <ul>
              <li>The average gradient is at least 3.0% </li>

              <li>The segment distance is at least 300 meters. </li>

              <li>The length of the climb (in meters) multiplied by the grade of the climb is greater than 8,000.</li>
              <br>

              You will see that a segment is categorized by the number on both the segment page and at the list of
              segments
              on your activity page. The categories are broken down as follows:<br>
            </ul>
            <ul>
              <li>Cat 4 > 8000</li>
              <li>Cat 3 > 16000</li>
              <li>Cat 2 > 32000</li>
              <li>Cat 1 > 64000</li>
              <li>HC (Hors Categorie) > 80000</li>
            </ul>

    </div>
          <div class="modal-content">
            <img src="https://support.strava.com/hc/article_attachments/360016064251/Climb_Categorization_1_-_Eng.png"
              alt="Hawk Hill image example" class="exBig" style="display: block;">
          </div>
          <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>

    </div>
    {{#if logged_in}}
    <script src="../public/assets/scripts/logout.js"></script>

    <nav>
      <button class="no-button btn-primary" id="logout"> Logout </button>
    </nav>
    {{/if}}

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      User Input
    </button>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Cardiac Arrest Search Options</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Activity type:
            <select id="activityType">
              <option value="running">Running</option>
              <option value="riding">Riding</option>
            </select> <br> Minimum climb rating:<input type="number" id="minClimb" value="2" min="2" max="4">
            <br> Maximum climb rating:<input type="number" id="maxClimb" value="1" min="1" max="3">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="submit"
              onclick='hideFunction()'>Search and Close</button>
          </div>
        </div>
      </div>
</nav>

  <div id="map"></div>
  <div id="hillCards" class="ClimbCards"></div>
  
  

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbRJvIbu1ZsBTN0-gPCt3y04HF98el2Yo&callback=initMap&v=weekly"
    async></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <!--  -->
  <script type="text/javascript">
    $(window).on('load', function () {
      $('#myModal').modal('show');
    });
  </script>
  <!--  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>

  <script src="../../assets/scripts/strava_api.js"></script>

</body>

</html>