            <p1><a href="https://en.wikipedia.org/wiki/Strava" style="color: black;"> Strava </a>is the social network
              for athletes.

              Record an activity and it goes to your Strava feed, where your friends and followers can share their own
              races
              and workouts, give kudos to great performances and leave comments on each other's activities.</p1><br>
          </div>
          <div class="modal-body">
            <p1><b>Climb Categorization</b></p1>
            <p1>The Strava climb categorization is similar to how the UCI categorizes climbs but with some
              modifications.
              When a climb is categorized, for the Tour de France for example, there is a subjective component to the
              categorization. If a climb is at the end of the stage it could get a tougher category than if it was
              earlier
              in the stage. Strava's method is objective, so if a climb is a category 1 climb it will always be a
              category
              1.</p1> <br>

            <p2><b>Determining Climb Categories</b></p2>
            A segment can be categorized as a climb on Strava if it meets the following criteria:<br>

            <ul>
              <li>The average gradient is at least 3.0% </li>

              <li>The segment distance is at least 300 meters. </li>

              <li>The length of the climb (in meters) multiplied by the grade of the climb is greater than 8,000.</li>
              <br>

              You will see that a segment is categorized by the number on both the segment page and at the list of
              segments
              on your activity page. The categories are broken down as follows:<br>
            </ul>
            <ul>
              <li>Cat 4 > 8000</li>
              <li>Cat 3 > 16000</li>
              <li>Cat 2 > 32000</li>
              <li>Cat 1 > 64000</li>
              <li>HC (Hors Categorie) > 80000</li>
            </ul>
