<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../img/LogoPlaceHolder.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Cardiac Arrest
    </a>
    <!-- button needs styling/formatting -->
    <input id="delete-markers" class="clear" type="button" value="Clear Markers" onclick='hideFunction()' />
    <!-- it removes the markers and coordinates from the map -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Instructions
    </button>
    <!-- user input modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AnotherModal">
      About Strava
    </button>

    <!--Start of Modal-->

    <!-- Modal -->
    <div class="modal fade" id="AnotherModal" tabindex="-1" role="dialog" aria-labelledby="AnotherModalTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

          {{navigation_climbs}}

          <div class="modal-content">
            <img src="https://support.strava.com/hc/article_attachments/360016064251/Climb_Categorization_1_-_Eng.png"
              alt="Hawk Hill image example" class="exBig" style="display: block;">

          </div>
          <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>

    </div>


    <!-- Start of Modal with information about climb categories in Strava-->

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      User Input
    </button>

    <!--Start of Modal-->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Cardiac Arrest Search Options</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Activity type:
            <select id="activityType">
              <option value="running">Running</option>
              <option value="riding">Riding</option>
            </select> <br> Minimum climb rating:<input type="number" id="minClimb" value="2" min="2" max="4">
            <br> Maximum climb rating:<input type="number" id="maxClimb" value="1" min="1" max="3">


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="submit"
              onclick='hideFunction()'>Search and Close</button>
          </div>
        </div>
      </div>



      <!--End of Modal-->

  </nav>