* {
    margin: 0;
    padding: 0;
}

#map {
    height: 60vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
}


.navbar-brand {
    font-weight: 700;
}

.btn-primary {
    background-color: #355C7D;
    border: none;
    color: white;
}

.btn-primary:hover {
    background-color: #F67280;
    color: white;
    border: none;
}



.clear {
    background-color: #355c7d;
    border: none;
    border-radius: 4px;
    padding: 0.3em;
    color: white;
    transition: 0.2s;
}

.clear:hover {
    background-color: #f67280;
    color: white;
    border: none;
}


img.exBig {
    border-radius: 8px;
    display: block;
}

ul {
    padding: 1em;
}

/* landing page */
.container{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: seagreen;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
}

.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
   
   
    

}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
 
}

.card-back{
    transform: rotateY(180deg);
}

.card h2{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.input-box{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
}

::placeholder{
    color: #fff;
    font-size: 12px;
}
button{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
    
}

.submit-btn{
    position: relative;
}

.submit-btn::after{
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;

}

span{
    font-size: 13px;
    margin-left: 10px;
}

.card .btn{
    margin-top: 70px;
}

.card a{
    color:#fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
}


/*end of landing page */

.card-body {
    color: white;
    background-color: #355C7d;
    border-radius: 8px;
    cursor: crosshair;

}

.this {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}


.ClimbCards {
    margin-top: 61vh;
    display: flex;
    flex-wrap: wrap;
}

a {
    color: orange;
    text-decoration: none;

}

a:visited {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: none;
}
